@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap");
html {
  overflow-x: hidden !important;
}

body {
  font-family: 'Inter', sans-serif;
}

.btn {
  -webkit-box-shadow: 0 0 0 !important;
          box-shadow: 0 0 0 !important;
}

.btn:hover {
  -webkit-box-shadow: 0 0 0 !important;
          box-shadow: 0 0 0 !important;
}

section {
  margin-top: 4rem;
}

section .section_title {
  font-family: "Roboto Serif", serif;
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 2px solid #fc4f4f;
}

section .section_subtitle {
  text-align: center;
  font-size: 1.2rem;
  margin: 10px 0;
}

nav.navbar {
  padding: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}

nav.navbar .container {
  background: #000 !important;
  padding: 1.5rem;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

nav.navbar .navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav.navbar .navbar-brand:hover {
  color: #fff;
}

nav.navbar .navbar-brand span {
  color: #fc4f4f;
}

nav.navbar a {
  color: #f0f0f0 !important;
}

nav.navbar i {
  font-size: 1.5rem;
}

nav.navbar .nav-link {
  margin: 0 1rem;
  padding: 0 !important;
  position: relative;
}

nav.navbar .nav-link.active::after {
  position: absolute;
  content: '';
  display: block;
  width: 40%;
  height: 2px;
  background: #fc4f4f;
  position: absolute;
  left: 0;
  bottom: -4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav.navbar .nav-link img {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}

nav.navbar .nav-link span {
  display: inline-block;
  margin-left: 7px;
}

header {
  padding: 5rem 0;
  padding-top: 6rem;
  margin-top: 100px;
}

header h1 {
  font-size: 4rem;
  font-family: "Roboto Serif", serif;
  margin-bottom: 1.6rem;
  letter-spacing: 2px;
  font-weight: 700;
}

header h1 span {
  color: #fc4f4f;
}

header .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

header .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

header .user span {
  font-weight: 600;
  font-size: 0.9rem;
  max-width: 300px;
}

header .buttons .btn {
  background-color: #4f964f;
  color: #f0f0f0;
  border-radius: 30px;
  padding: 1rem 2rem;
}

header .buttons #play-button {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

header .buttons #play-button img {
  width: 55px;
  margin-right: 7px;
}

header .food-img {
  width: 300px;
  margin-top: 50px;
}

header .box {
  max-width: 240px;
}

header .box h5 {
  font-size: 1.2rem;
  font-weight: 800;
  font-family: "Roboto Serif", serif;
}

header .box p {
  margin: 0;
  font-size: 0.9rem;
}

header .box .icon-box {
  width: 40px;
  height: 40px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  padding: 10px;
  font-size: 1.2rem;
}

header .features {
  float: right;
}

section#offers .card {
  border: 0;
  text-align: center;
  margin-bottom: 2rem;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 2rem 0;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

section#offers .card:hover {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

section#offers .card h4 {
  font-size: 2rem;
  margin: 10px 0;
  font-family: "Roboto Serif", serif;
}

section#offers .card p {
  width: 260px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section#offers .card i {
  font-size: 3rem;
}

section#offers .card .btn {
  background-color: #fc4f4f;
  border: 0;
}

section#offers .card .btn:hover {
  opacity: 0.7;
}

section#foods .desc h2 {
  color: #fc4f4f;
  font-style: italic;
  font-size: 2.5rem;
  letter-spacing: 4px;
}

section#foods .desc .btn {
  background-color: #fc4f4f;
  border-color: #fc4f4f;
  border-radius: 30px;
  margin-top: 5px;
}

section#foods .desc .btn:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .navbar .nav-link {
    margin: 0.5rem 0 !important;
    display: inline-block !important;
  }
  header {
    text-align: center;
  }
  header .user {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  header .features {
    float: none;
  }
  header .features * {
    text-align: left !important;
  }
}
/*# sourceMappingURL=styles.css.map */